/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/

/*body {
	font-family: Arial;
	color: red;
}
*//*
body {
	font-family : Oswald;
}


#bottom {

	width: 50px;
	height: 50px;
	color: blue;

	overflow: scroll;

}


background-color: #979894;
}


#top {

	background-color: #430000;

}*/